In [3]:
import pandas as pd
import numpy as np

In [4]:
adv = pd.read_csv('datasets/Advertising.csv', index_col=0)
adv.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9