In [1]:
import pandas as pd
import numpy as np

In [2]:
income1 = pd.read_csv('datasets/Income1.csv', index_col=0)
income1.head()

   Education     Income
1  10.000000  26.658839
2  10.401338  27.306435
3  10.842809  22.132410
4  11.244147  21.169841
5  11.645485  15.192634

In [3]:
income2 = pd.read_csv('datasets/Income2.csv', index_col=0)
income2.head()

   Education   Seniority     Income
1  21.586207  113.103448  99.917173
2  18.275862  119.310345  92.579135
3  12.068966  100.689655  34.678727
4  17.034483  187.586207  78.702806
5  19.931034   20.000000  68.009922